<!DOCTYPE html>
{% load static %}
<html>
    <body>
       <h1> ARE YOU SURE YOUR WANT TO POST {{StatusObject.status}}</h1>
       <button id = "nobtn" onclick="window.location.href = '../../Story7/delete'" type="button">
        No</button>
        <button id = "yesbtn"onclick="window.location.href = '../../Story7/status'" type="button">
        Yes</button>
    </body>
</html>